# mkdocs.yml
site_name: Kaush Sound Sensor v1.0 Documentation
site_description: Complete guide for professional audio acquisition sensor
site_author: Edge Neuron
site_url: https://yourusername.github.io/kaush-sound-sensor-docs/

# Repository information
repo_name: Edge-Neuron/kaush-sound-sensor-docs
repo_url: https://github.com/Edge-Neuron/kaush-sound-sensor-docs
edit_uri: edit/main/docs/

# Navigation
nav:
  - Home: index.md
  - Hardware Specifications: hardware-specs.md
  - Getting Started: getting-started.md
  - Pin Configuration: pin-config.md
  - Troubleshooting: troubleshooting.md
  - Downloads: downloads.md
  - Support: support.md

# Theme configuration
theme:
  name: material
  logo: images/logo/kalpruh.png
  favicon: images/logo/kalpruh.png
  palette:
    # Light mode
    - scheme: default
      primary: orange
      accent: light green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: orange
      accent: light green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.code.annotate

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - attr_list
  - md_in_html

# Additional configuration
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Edge-Neuron
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@EdgeNeuron
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/profile.php?id=61582047675688
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/kaush_sound

extra_css:
  - stylesheets/extra.css

# Google Analytics (optional)
# google_analytics:
#   - 'UA-XXXXXXXX-X'
#   - 'auto'


